html,
body {
	margin: 0;
	padding: 0;
	overflow: hidden;
	font-family: 'Inter', sans-serif;
	background-color: #ffffff;
}

canvas {
	display: block;
	width: 100%;
	height: 100vh;
}

main {
	width: 100%;
	height: 100vh;
}

#p5_loading {
	font-family: 'Inter', sans-serif;
	font-size: 4rem;
	font-weight: 600;
	color: #333;
	bottom: 1rem;
	left: 50%;
	transform: translateX(-50%);
}
