html {
	background-color: #0f0f0f;
}

body {
	margin: 0;
}

.title {
	font-family: 'InterVariable', sans-serif;
	font-size: calc(100vw * 0.1);
	font-weight: 100;
	font-variation-settings: 'wght' 100;
	color: #fff;
	text-align: center;
	margin-top: 100px;
	transition: font-variation-settings 0.1s linear;
}

.text {
	max-width: 600px;
	margin: 0 auto;
	padding: 0 1rem;
}

.text h2 {
	font-family: 'EB Garamond', serif;
	color: #fff;
	font-size: 2rem;
	font-weight: 400;
	margin-top: 16rem;
	margin-bottom: 4rem;
	text-align: center;
}

.text p {
	font-family: 'EB Garamond', serif;
	text-indent: 1rem;
	color: #fff;
	font-weight: 400;
	font-size: 1.25rem;
	line-height: 1.5;
	margin-bottom: 1.2em;
}

.cofee iframe {
	border: none;
	width: 100vw;
	height: 60vh;
	display: block;
	margin: 8rem auto 0 auto;
}
